.fourthscreen
  height: 550px
  width: 100vw
  overflow: hidden
  z-index: 1

.mac_decoration
  width: 42%
  height: 100%
  background-color: $color_white
  position: relative
  position: relative


  &::after
    content: ''
    height: 1000px
    width: 2000px
    position: absolute
    top: -20%
    left: 1%
    background-color: #fb8686
    transform: rotate(47deg)
    transform-origin: top left
    z-index: 499

.macbook
  width: 600px
  position: absolute
  top: 20%
  left: 10%
  z-index: 1000

.align
  width: 58%
  justify-content: center

  &__panel
